name: Bo Liu's Blog
description: Learning, Experiencing and Writing
meta_description: "Learning, Experiencing and Writing"

aboutPage: true

markdown: kramdown
highlighter: rouge

paginate: 20
baseurl: /
domain_name: 'http://boliu68.github.io/'
google_analytics: 'UA-67871118-1'
disqus: True
disqus_shortname: 'boliu68githubio'

# Details for the RSS feed generator
url:            'http://boliu68.github.io/'
author:         'Bo Liu'
authorTwitter:  'YourTwitterUsername'

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
